body{
    background-size: cover;
}


.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
font-family: 'Dancing Script', cursive;
color: black;
margin-top: 10px;
}

.heading2{
    border-radius: 25px;
    width: 25%;
}

canvas{
    border-radius: 25px;
    box-shadow: 5px 5px grey;
}



